.site-nav {
    background-color: rgba(20, 20, 20, 0.80);
    -webkit-backdrop-filter: saturate(180%) blur(14px);
    backdrop-filter: saturate(180%) blur(14px);
}

.column3 {
    padding-left: 1.66666666667%;
    padding-right: 1.66666666667%;
    width: 33%;
    text-align: center;
}

label {
    font-size: 20px;
}

.anchor {
    padding-top: 80px;
}

.modal-ku {
    width: 750px;
    margin-top: 10vh;
}


/*
.project-item {}
body {
    background: rgba(233, 236, 239, 1)
}*/