.site-nav {
    background-color: rgba(0, 0, 0, 0.90);
    -webkit-backdrop-filter: saturate(180%) blur(14px);
    backdrop-filter: saturate(180%) blur(14px);
}

.column3 {
    padding-left: 1.66666666667%;
    padding-right: 1.66666666667%;
    width: 33%;
    text-align: center;
}

label {
    font-size: 20px;
}

.anchor {
    padding-top: 62px; 
    margin-top: -62px;
}

.modal-ku {
    width: 750px;
    margin-top: 10vh;
} 

@media (max-width: 768px) {
    .anchor {
        padding-top: 172px; 
        margin-top: -172px;
    }
}
/*
.project-item {}
body {
    background: rgba(233, 236, 239, 1)
}*/