.site-nav {
    background-color: rgba(20, 20, 20, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(14px);
    backdrop-filter: saturate(180%) blur(14px);
}

.column2 {
    padding-left: 5%;
    width: 40%;
}